body{
  margin: 0;
  font-family: sans-serif;
  text-transform: uppercase;
}
.header, .footer{
  width: 100%;
  background-color: #B0B1ED;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  position: fixed;
  bottom: 0;
}


.baselayout{
  margin-top: 80px;
  text-align: center;
}

.displayed-text{
  margin-top: 50px;
  font-size: 70px;
}

.form-control{
  width: 350px;
  margin: 0 auto;
}

.btn{
  margin-top: 25px;
  background-color: #B0B1ED;
}

.btn:hover{
  cursor: pointer;
  opacity: .7;
}
